<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebRTC</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:300' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">


	
</head>
<body id="page-top" style="background-color:#202020;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">WebRTC</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">Introduction</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	<br>
    <br>
    <center><img src="img/webrtclogo.png"></center>
	<center><b><h1><font color="white">WebRTC</h1></b></center>
  <div id="login_div" class="main-div">
    <center><b>SIGN UP A NEW ACCOUNT!</b></center>
    <br>
    <center><input type="email" placeholder="Email..." id="txtEmail" /></center>
    <br>
    <center><input type="password" placeholder="Password..." id="txtPass" /></center>
    <br>
    <center><button id="btnSignUp">SUBMIT</button>
    <button onclick="tologin()">LOGIN</button></center>
	<br>
    
  </div>
  
  <script>

  
  function tologin(){
	
	window.open("login.html", target="_self");
	
  }

  </script>
  <br>
  <center><a href="http://www.ive.edu.hk/ivesite/html/tc/index.html" target="_blank">Made By HKIVECW 2017-2018 CDC17N7</a></center>



<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAx1bIPbWGbs1EaMiqWykMsnWCh6TF1BqI",
    authDomain: "webrtc-login.firebaseapp.com",
    databaseURL: "https://webrtc-login.firebaseio.com",
    projectId: "webrtc-login",
    storageBucket: "webrtc-login.appspot.com",
    messagingSenderId: "346840149814"
  };
  firebase.initializeApp(config);
</script>
<script src="register.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>
	
	<script src="js/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>



</body>
</html>